<div class="container">
  <h1>Galeria</h1>

  <div class="filter-container">
    <label>
      <input type="checkbox" [(ngModel)]="showAdultContent" (change)="applyFilters()">
      Mostrar contenido para adultos
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="showRacyContent" (change)="applyFilters()">
      Mostrar contenido subido de tono
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="showGoryContent" (change)="applyFilters()">
      Mostrar contenido sangriento
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="Active" (change)="ActiveStatus()">
      <label class="form-check-label" for="chkInactivos">{{ Active ? 'Activos' : 'Inactivos' }}</label>
    </label>
  </div>

  <div class="search-container">
    <input type="text" [(ngModel)]="searchText" class="search" placeholder="Buscar..." (keyup.enter)="applyFilters()">
    <button (click)="applyFilters()" class="search-button">Buscar</button>
  </div>

  <div class="card-container">
    <div *ngFor="let consulta of filteredConsultas" class="card">
      <div class="card-image-container">
        <img [src]="consulta.imageUrl" [alt]="consulta.title" class="card-image">
      </div>
      <div class="card-details">
        <p>{{ consulta.description }}</p>
        <div>
          <span *ngIf="Actions" class="action-icon" (click)="editConsulta(consulta)">
            <i class='bx bxs-edit-alt' style='color:#f2ae1b'></i>
          </span>
        </div>
        <div>
          <span *ngIf="Actions" class="action-icon" (click)="deleteConsulta(consulta.id)">
            <i class='bx bxs-trash' style='color:#f21b1b'></i>
          </span>
        </div>
        <div>
          <span *ngIf="!Actions" class="action-icon" (click)="activateConsulta(consulta.id)">
            <i class='bx bx-check-double' style='color:#078600'></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedConsulta" class="modal fade show details-overlay" tabindex="-1" style="display: block;"
    aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content details-card">
        <div *ngIf="editing" class="edit-form">
          <div class="modal-header">
            <h2 class="modal-title" id="estudianteModalLabel">Editar Descripción</h2>
            <button type="button" class="btn-close" (click)="cancelEdit()"></button>
          </div>
          <form (ngSubmit)="updateConsulta()">
            <div class="modal-body">
              <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <textarea id="description" class="form-control" [(ngModel)]="selectedConsulta.description"
                  name="description" required></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Actualizar</button>
              <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
