.computer-home {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  background-color: #45A049;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.tab-button.active {
  background-color: #0056b3;
}

.tab-button:hover {
  background-color: #6ABD6D; /* Color un poco más claro al pasar el cursor */
}

.tab-content {
  background-color: #f5f5f5; /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  text-align: left;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

.section-header {
  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 24px; /* Tamaño de fuente */
  margin-bottom: 10px; /* Espacio inferior */
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.section-content img {
  max-width: 100%;
  border-radius: 8px; /* Bordes redondeados */
  margin-bottom: 15px; /* Espacio inferior */
}

.integrantes-slider {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  padding: 20px; /* Espaciado interno */
  margin-top: 20px; /* Espacio superior */
}

.integrante {
  text-align: center;
}

.integrante img {
  max-width: 100%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}
