<!-- Navegador -->
<div class="nav" id="navbar">
  <nav class="nav__container">
    <div>
      <a href="#" class="nav__link nav__logo">
        <i class='bx bxs-disc nav__icon'></i>
        <span class="nav__logo-name">Computer Visión</span>
      </a>

      <div class="nav__list">
        <div class="nav__items">
          <h3 class="nav__subtitle">Menú</h3>
          <a routerLink="/computer-home" routerLinkActive="active" class="nav__link">
            <i class='bx bxs-user nav__icon'></i>
            <span class="nav__name">Home</span>
          </a>

          <a routerLink="/computer-vision" routerLinkActive="active" class="nav__link">
            <i class='bx bxs-user nav__icon'></i>
            <span class="nav__name">Consulta</span>
          </a>
          <a routerLink="/computer-galery" routerLinkActive="active" class="nav__link">
            <i class='bx bxs-user nav__icon'></i>
            <span class="nav__name">Galeria</span>
          </a>
        </div>
      </div>
    </div>

    <a href="#" class="nav__link nav__logout">
      <i class='bx bx-log-out nav__icon'></i>
      <span class="nav__name">Salir</span>
    </a>
  </nav>
</div>