/* Estilos para el menú de navegación */
.nav {
  background-color: #35a82b; /* Fondo del menú */
  padding: 10px 0; /* Espaciado interno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar horizontalmente */
}

.nav__logo {
  color: #ecf0f1; /* Color del texto del logo */
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.5rem; /* Tamaño del texto del logo */
  flex: 1; /* Ocupar espacio restante */
  justify-content: center; /* Centrar contenido horizontalmente */
}

.nav__logo-name {
  margin-left: 10px; /* Espacio entre el ícono y el texto */
}

.nav__list {
  margin-left: 20px; /* Espacio a la izquierda de la lista de navegación */
}

.nav__items {
  display: flex;
  align-items: center;
}

.nav__subtitle {
  color: #bdc3c7; /* Color del subtítulo */
  margin-bottom: 5px; /* Espacio bajo el subtítulo */
  font-size: 0.9rem; /* Tamaño del texto del subtítulo */
}

.nav__link {
  color: #ecf0f1; /* Color del texto del enlace */
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 15px; /* Espaciado interno de cada enlace */
  transition: background-color 0.3s ease; /* Transición de color de fondo */
  border-radius: 5px; /* Bordes redondeados */
}

.nav__link:hover {
  background-color: #4eb34e; /* Color de fondo al pasar el mouse */
}

.nav__icon {
  font-size: 1.2rem; /* Tamaño del ícono */
  margin-right: 8px; /* Espacio a la derecha del ícono */
}

.active {
  background-color: #4eb34e; /* Color de fondo cuando el enlace está activo */
}
.custom-nav-logo {
  font-family: Georgia, serif;
}