<!-- Navegador -->
<div class="nav" id="navbar">
  <nav class="nav__container">
    <div>
      <a href="#" class="nav__link nav__logo">
        <i class='bx bxs-disc nav__icon'></i>
        <span class="nav__logo-name custom-nav-logo">Computer Visión</span>
      </a>

      <div class="nav__list">
        <div class="nav__items">
          <a routerLink="/computer-home" routerLinkActive="active" class="nav__link">
            <i class='bx bxs-home nav__icon'></i>
            <span class="nav__name custom-nav-logo">Inicio</span>
          </a>

          <a routerLink="/computer-vision" routerLinkActive="active" class="nav__link">
            <i class='bx bxs-search nav__icon'></i>
            <span class="nav__name custom-nav-logo">Consulta por URL</span>
          </a>

          <a routerLink="/computer-galery" routerLinkActive="active" class="nav__link">
            <i class='bx bxs-photo-album nav__icon'></i>
            <span class="nav__name custom-nav-logo">Galería de Consultas</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
